<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utimer">

    <uses-permission android:name="com.huawei.permission.sec.SDK_LAUNCHER" />

    <application
        android:name=".common.UTimerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service android:name="com.utimer.ui.BaseBinderService" />

        <activity android:name="com.utimer.ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.utimer.ui.UTimerActivity"/>

    </application>
</manifest>